/*----------------------
	Reset Setting
----------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

sup {
  font-size: 8px;
  vertical-align: top;
  position: relative;
  top: -0.05em;
}

/*----------------------
	Common Setting
----------------------*/
body {
	position: relative;
	font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
}

a,.movieBtnCmn {
	transition: 0.4s;
	cursor: pointer;
}

a:hover,
.movieBtnCmn:hover {
	opacity: 0.8;
}


/*----------------------
	Layer Setting
----------------------*/

/*-- Loading --*/
.loading {
  background: #fff url("../img/ico_loading.gif") no-repeat center;
	width: 100%;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
}

.loading::before {
	content: "";
	position: absolute;
	background: url(../img/bg.png) no-repeat;
	background-size: 56% 100%;
	pointer-events: none;
	width: 100%;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	top: 0;
	left: 0;
	z-index: 210;
}

/*-- Twitter Button --*/
.wrapFixedCont .twitterBtn {
	width: 26px;
	height: 21px;
	position: fixed;
	top: 30px;
	right: 70px;
	z-index: 160;
	cursor: pointer;
}

/*-- Menu Button --*/
.menuBtn {
	width: 25px;
	height: 21px;
	position: fixed;
	top: 30px;
	right: 30px;
	z-index: 160;
	color: #fff;
	line-height: 50px;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
}

.menuBtn,
.menuBtn span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

.menuBtn span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 4px;
}
.menuBtn span:nth-of-type(1) {top: 0;}
.menuBtn span:nth-of-type(2) {top: 9px;}
.menuBtn span:nth-of-type(3) {bottom: 0;}

.menuBtn.on span:nth-of-type(1) {
  -webkit-transform: translateY(9px) rotate(-45deg);
  transform: translateY(9px) rotate(-45deg);
}

.menuBtn.on span:nth-of-type(2) {
  opacity: 0;
}

.menuBtn.on span:nth-of-type(3) {
  -webkit-transform: translateY(-9px) rotate(45deg);
  transform: translateY(-9px) rotate(45deg);
}

/*-- Menu --*/
.menu {
	width: 100%;
	height: 100%;
	background: url(../img/bg_w.png) no-repeat rgba(0, 139, 79, 0.95);
	background-size: 56% 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 150;
	display: none;
}

.menu .logo {
	margin: 30px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

.menu .menuList {
	margin: 17vh auto 0 auto;
	text-align: center;
}

.menu .menuList li {
	margin: 0 0 5vh 0;
}

.menu .menuList a {
	color: #fff;
	text-decoration: none;
	font-size: 26px;
	font-weight: bold;
	font-style: italic;
	display: table;
	margin: 0 auto;
}

.menu .menuList a span {
	display: block;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	margin: 5px 0 0 0;
}

.menu .menuList a strong {
	font-family: Helvetica;
}


/*----------------------
	Fixed Contents
----------------------*/

/*-- Audio Button --*/
.audioWrap .audioButton {
	display: block;
	position: fixed;
	top: 30px;
	right: 95px;
	width: 105px;
	height: 17px;
	background: #000;
	background: url(../img/ico_sound-off.png) no-repeat left top;
	cursor: pointer;
}

.audioWrap.on .audioButton {
	background: url(../img/ico_sound-on.png) no-repeat left 1px;
}

/*-- White Logo --*/
.wrapFixedCont .logo {
	margin: 30px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 90;
}

/*-- Pagenation --*/
.pagenation {
	padding: 20px;
	position: fixed;
	right: 0;
	top: 50%;
	-webkit-transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%);
	transform: translate(0%, -50%);
	z-index: 1;
}

.pagenation li {
	list-style-type: none;
	margin-bottom: 28px;
	color: #fff;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 11px;
	line-height: 1;
	font-style: italic;
	letter-spacing: 1px;
}

.pagenation li:last-child {
	margin: 0;
}

.pagenation a {
	display: block;
	width: 8px;
	height: 8px;
	border: 1px solid #fff;
	border-radius: 4px;
	box-sizing: border-box;
	cursor: pointer;
	margin: 0 0 0 10px;
}

.pagenation span {
	display: none;
}

.pagenation .active span {
	display: block;
}

.pagenation .active a {
	background: #fff;
}

/*-- Right Bottom Button --*/
.movieBtnWrap {
	cursor: pointer;
	width: 360px;
	height: 175px;
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 100;
	transition: 0.4s;
}

.movieBtnWrap .movieBtn {
	width: 260px;
	height: 175px;
	margin: 0 0 0 auto;
}

.movieBtnWrap.hide {
	right: -260px;
}

.movieBtnWrap.allHide {
	right: -360px;
}

.movieBtnWrap.hide:hover {
	right: 10px;
}

.movieBtnWrap .ico {
	position: fixed;
	right: 260px;
	bottom: 42px;
	width: 90px;
	height: 120px;
	color: #ee7528;
	background: url(../img/icon_movie_pin.png) no-repeat;
	transform:rotate(-90deg);
	transition: 0.4s;
	z-index: 90;
}

.movieBtnWrap .ico span {
	transform:rotate(90deg);
	display: block;
	line-height: 1.4;
	text-shadow: none;
	font-size: 12px;
	transition: 0.4s;
	text-align: center;
	padding: 14px 0 0 16px;
	margin: 0;
	width: 72px;
	height: 72px;
	box-sizing: border-box;
}

.movieBtnWrap.hide .ico {
	transform:rotate(0deg);
	right: 100px;
	bottom: 30px;
}

.movieBtnWrap.hide .ico span {
	transform:rotate(0deg);
	padding: 30px 0 0 0;
	margin: 0 auto;
}

.movieBtnWrap.hide:hover .ico {
	right: 260px;
	bottom: 42px;
	transform:rotate(-90deg);
}

.movieBtnWrap.hide:hover .ico span {
	right: 260px;
	bottom: 25px;
	transform:rotate(90deg);
	padding: 14px 0 0 16px;
	margin: 0;
}

.movieBtnWrap.allHide .ico {
	bottom: -120px;
}

/*-- Background Black Overlay --*/
.wrapFixedOverlay {
	background: rgba(0,0,0,0.6);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	z-index: -50;
}

/*-- Green Line --*/
.box1 .inner::before,
.box7 .inner::before {
	content: "";
	position: absolute;
	background: url(../img/bg.png) no-repeat;
	background-size: 56% 100%;
	pointer-events: none;
	width: 100%;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	top: 0;
	left: 0;
	z-index: -10;
  transform:translate3d(0,0,0);
}

/*-- Modal - closeBtn/Profile/ --*/
.modal {
  min-width: 100%;
  height: 100vh;
	min-height: calc(var(--vh, 1vh) * 100);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 170;
	background: rgba(0,0,0,0.9);
	display: none;
}

.modal .modalMovieWrap {
	display: table;
	width: 100%;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
}

.modal .modalMovieWrap .inner {
	width: 100%;
	display: table-cell;
	vertical-align: middle;
}

.modal .modalMovieCont {
	margin: 0 auto;
	text-align: center;
	display: block;
	width: 640px;
	height: 360px;
}

.closeBtn {
	width: 25px;
	height: 21px;
	position: fixed;
	top: 30px;
	right: 30px;
	z-index: 110;
	color: #fff;
	cursor: pointer;
}

.closeBtn,
.closeBtn span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

.closeBtn span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 4px;
}

.closeBtn span:nth-of-type(1) {top: 0;}
.closeBtn span:nth-of-type(2) {bottom: 0;}

.closeBtn span:nth-of-type(1) {
  -webkit-transform: translateY(9px) rotate(-45deg);
  transform: translateY(9px) rotate(-45deg);
}

.closeBtn span:nth-of-type(2) {
  -webkit-transform: translateY(-9px) rotate(45deg);
  transform: translateY(-9px) rotate(45deg);
}

.profileWrap .closeBtn {
	display: none;
}

.profileWrap.on .closeBtn {
	display: block;
}


/*----------------------
	Panel Setting
----------------------*/
.box{
	color: #fff;
	position: relative;
	overflow-x: hidden;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	box-sizing: border-box;
}

.box > .inner {
	width: 100%;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	display: flex;
	align-items: center;
}

.box .txt_area {
	text-shadow: 3px 3px 6px rgba(0,0,0,0.16);
}

.box .txt_area h2 {
	text-align: center;
}

.box .txt_area h2 strong {
	font-size: 50px;
	font-weight: bold;
	line-height: 1;
	text-align: center;
	font-style: italic;
	font-family: Helvetica;
}

.box .txt_area h2 span {
	font-size: 16px;
	display: block;
	margin: 15px 0 0 0;
	font-style: normal;
}

.box .txt_area p {
	font-size: 14px;
	font-weight: bold;
	line-height: 220%;
	margin: 40px 0 0 0;
	letter-spacing: 3px;
	text-align: center;
}

.box1 .txt_area {
	padding: 0 0 0 5vw;
}

.box1 .txt_area h1 span {
  width: 0;
  height: 0;
  overflow: hidden;
  display: block;
}

.box1 .txt_area h1 img {
  width: 603px;
}

.box1 .txt_area p {
	font-size: 24px;
	font-weight: normal;
	line-height: 1;
	font-style: italic;
	margin: 20px 0 0 4px;
	text-align: left;
	font-family: Helvetica;
  letter-spacing: 0;
}

.box1,.box2,.box3,.box4,.box7 {
	position: relative;
}

.bgMovieCont {
	position: absolute;
	top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-width: 100%;
  height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	z-index: -100;
}

.box .bgCont img {
	position: absolute;
	top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-width: 100%;
  height: 100%;
	z-index: -150;
	object-fit: cover;
	font-family: 'object-fit: cover;'; /*IE対策*/
}

.box2 .txt_area {
	margin: auto;
}

.box2 .txt_area h2 {
	line-height: 1;
  margin: 30px 0 0 0;
}

.box2 .txt_area h2 img {
  width: 500px;
}

.box2 .txt_area h2 span {
  width: 0;
  height: 0;
  overflow: hidden;
}

.box2 .txt_area p {
  font-size: 18px;
	margin: 0;
	padding: 0;
  line-height: 2;
}

.box2 .txt_area p:first-child {
	margin: 0 0 30px 0;
}

.box2 .txt_area .sansserif {
  font-family: "ＭＳ Ｐ明朝", "MS PMincho","ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "serif";
  font-size: 26px;
  display: block;
  line-height: 1;
  font-weight: normal;
}

.box2 .txt_area .lyrics,
.box2 .txt_area .words {
  line-height: 1;
}

.box2 .txt_area .lyrics .nomal,
.box2 .txt_area .words .nomal {
  margin: 0 0 15px 0;
  display: block;
}

.box2 .txt_area .lyrics .sansserif {
  line-height: 1.8;
}

.box2 .txt_area .lyrics .fz16 {
  font-size: 16px;
  line-height: 1;
  margin: 10px 0 5px 0;
}

.box2 .txt_area .lyrics .fz10 {
  font-size: 10px;
  margin: 0 0 50px 0;
}

.box2 .txt_area .words .nomal {
  margin: 0 0 20px 0;
}

.box2 .txt_area .words .sansserif {
  font-size: 24px;
}

.box2 .txt_area .words .fz12 {
  font-size: 12px;
  margin: 10px 0 25px 0;
}

.box3 .txt_area {
	padding: 0 0 0;
	width: 100%;
}

.box3 .movieBtn2 {
	text-align: center;
	margin: 40px auto 0 auto;
  width: 260px;
}

.box4 .txt_area {
	padding: 0 0 50px 0;
	width: 100%;
}

.box4 .movieBtn3 {
	margin: 40px 0 0 0;
	display: flex;
	justify-content: center;
}

.box4 .movieBtn3 .btnWrap {
	text-align: left;
	width: 260px;
	margin: 0 25px;
	cursor: pointer;
}

.box5 .txt_area {
	padding: 0 0 0;
	width: 100%;
}

.box5 .txt_area > .linkList ul {
	display: flex;
	flex-wrap: wrap;
	width: 620px;
	text-align: center;
	margin: 60px auto 0;
}

.box5 .txt_area > .linkList ul li {
	width: 50%;
	margin: 0 0 30px 0;
}

.box5 .txt_area > .linkList ul li a {
	color: #fff;
	text-shadow: none;
	text-decoration: none;
	font-size: 26px;
	font-family: Helvetica;
	font-weight: bold;
	position: relative;
	padding: 0 20px 0 0;
}

.box5 .txt_area > .linkList ul li a::before {
	content: "";
	width: 27px;
	height: 27px;
	background: #fff;
	display: inline-block;
	vertical-align: bottom;
	margin: 0 10px 0 0;
}

.box5 .txt_area > .linkList ul li a::after {
	content: "";
	display: inline-block;
	width: 10px;
	height: 10px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	top: 10px;
	right: 0;
}

.box5 .txt_area > .linkList ul li.link_iTunes a::before {
	background: url(../img/ico_itunes.png) center no-repeat;
	background-size: 100%;
}

.box5 .txt_area > .linkList ul li.link_spotify a::before {
	background: url(../img/ico_spotify.png) center no-repeat;
	background-size: 100%;
}

.box5 .txt_area > .linkList ul li.link_apple a::before {
	background: url(../img/ico_apple.png) center no-repeat;
	background-size: auto 100%;
}

.box5 .txt_area > .linkList ul li.link_line a::before {
	background: url(../img/ico_line.png) center no-repeat;
	background-size: auto 100%;
}

.box5 .txt_area dl {
	width: 100%;
	max-width: 760px;
	font-size: 15px;
	text-shadow: 3px 3px 6px rgba(0,0,0,0.16);
	margin: 0px auto 0;
	padding: 30px 0 0 0;
	border-top: 1px solid #fff;
	position: relative;
}

.box5 .txt_area dl dt {
	font-size: 28px;
	font-style: italic;
	line-height: 1;
	letter-spacing: 2px;
}

.box5 .txt_area dl dt span {
	font-size: 14px;
	font-style: normal;
	display: inline-block;
	margin: 0 0 0 10px;
}

.box5 .txt_area dl dd {
	font-style: normal;
	display: inline-block;
	margin: 20px 0 0 0;
	font-size: 12px;
	line-height: 2.2;
	letter-spacing: 0.5px;
}

.box5 .txt_area dl dd .linkBox {
	position: absolute;
	top: 44px;
	right: 0;
	color: #fff;
	text-decoration: none;
	padding: 0 15px 0 0;
	line-height: 1;
}

.box5 .txt_area dl dd .linkBox::after {
	content: "";
	display: block;
	width: 4px;
	height: 4px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	top: 4px;
	right: 2px;
}

.box5 .profileWrap {
	display: block;
}

.box7 .txt_area {
	padding: 0 0 0 0;
	width: 100%;
}

.box7 .txt_area p {
	margin: 35px 0 0 0;
}

.box7 .txt_area .linkArea {
	max-width: 760px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 35px auto 0 auto;
}

.box7 .txt_area .linkArea > div:first-child {
	max-width: 375px;
	width: 50%;
	margin: 0 10px 10px 0;
	height: 210px;
}

.box7 .txt_area .linkArea > div:nth-child(2) {
	max-width: 375px;
	width: 50%;
	height: 100px;
}

.box7 .txt_area .linkArea > div:last-child {
	max-width: 760px;
	width: 100%;
	height: 90px;
}

.box7 .txt_area .linkArea > div a {
	background: #fff;
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 9px;
	box-shadow: 3px 3px 6px rgba(0,0,0,0.16);
	text-decoration: none;
	text-shadow: none;
	text-align: center;
	box-sizing: border-box;
}

.box7 .txt_area .linkArea > div:first-child a {
	padding: 22px 0 14px 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}

.box7 .txt_area .linkArea > div:first-child a .txt {
	color: #008b4f;
	text-align: left;
	font-size: 14px;
	line-height: 1;
}

.box7 .txt_area .linkArea > div:first-child a .txt span {
	font-size: 18px;
	letter-spacing: 0;
	position: relative;
	margin: 10px 0 0 0;
	display: inline-block;
}

.box7 .txt_area .linkArea > div:first-child a .txt sup {
	font-size: 10px;
	letter-spacing: 0;
	vertical-align: top;
	display: inline-block;
	position: absolute;
	top: -10px;
	margin: 0 0 0 -12px;
}

.box7 .txt_area .linkArea > div:first-child a .txt strong {
	font-size: 62px;
	font-family: Helvetica;
	letter-spacing: 0;
	line-height: 1;
	margin: 0;
}

.box7 .txt_area .linkArea > div:first-child a .logo {
	margin: 0 0 0 24px;
}

.box7 .txt_area .linkArea > div:first-child a .btn {
	background: #008b4f;
	border-radius: 9px;
	color: #fff;
	width: 310px;
	padding: 6px 0 3px 0;
	position: relative;
}

.box7 .txt_area .linkArea > div:first-child a .btn::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	right: 20px;
	width: 5px;
	height: 5px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.box7 .txt_area .linkArea > div:first-child a .btn strong {
	color: #fff;
}

.box7 .txt_area .linkArea > div:nth-child(2) a {
	margin: 0 0 10px 0;
}

.box7 .txt_area .linkArea > div:nth-child(2) a:first-child strong::before {
	display: inline-block;
	content: "";
	background: url(../img/ico_car.png) no-repeat;
	background-size: 100%;
	width: 30px;
	height: 30px;
	vertical-align: middle;
	margin: -4px 8px 0 0;
}

.box7 .txt_area .linkArea > div:nth-child(2) a:last-child strong::before {
	display: inline-block;
	content: "";
	background: url(../img/ico_yen.png) no-repeat;
	background-size: 100%;
	width: 23px;
	height: 23px;
	vertical-align: middle;
	margin: -4px 8px 0 0;
}

.box7 .txt_area .linkArea > div a {
	font-size: 12px;
	color: #535353;
	padding: 18px 0 0 0;
	font-weight: bold;
	letter-spacing: 2px;
	line-height: 1.6;
}

.box7 .txt_area .linkArea > div a strong {
	display: block;
	color: #008b4f;
	font-size: 20px;
	letter-spacing: 3px;
	margin: 0 0 8px 0;
	line-height: 1;
}

.box7 .txt_area .linkArea > div:last-child a {
	padding: 15px 0 0 0;
}

.box7 .txt_area .linkArea > div:last-child a strong {
	margin: 0 0 5px 0;
}

.box7 .txt_area .evidence {
	font-size: 10px;
	max-width: 760px;
	margin: 10px auto 0 auto;
	line-height: 1.6;
}

.box7 .txt_area .copy {
	position: absolute;
	bottom: 30px;
	left: 30px;
	color: #fff;
	font-size: 12px;
  letter-spacing: 0;
}

.box7 .txt_area {
	padding: 0 0 0 0;
	width: 100%;
}

.box7 .txt_area p {
	margin: 35px 0 0 0;
}

.box7 .txt_area .linkArea {
	max-width: 760px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 35px auto 0 auto;
}

.box7 .txt_area .linkArea > div:first-child {
	max-width: 375px;
	width: 50%;
	margin: 0 10px 10px 0;
	height: 210px;
}

.box7 .txt_area .linkArea > div:nth-child(2) {
	max-width: 375px;
	width: 50%;
	height: 100px;
}

.box7 .txt_area .linkArea > div:last-child {
	max-width: 760px;
	width: 100%;
	height: 90px;
}

.box7 .txt_area .linkArea > div a {
	background: #fff;
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 9px;
	box-shadow: 3px 3px 6px rgba(0,0,0,0.16);
	text-decoration: none;
	text-shadow: none;
	text-align: center;
	box-sizing: border-box;
}

.box7 .txt_area .linkArea > div:first-child a {
	padding: 22px 0 14px 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}

.box7 .txt_area .linkArea > div:first-child a .txt {
	color: #008b4f;
	text-align: left;
	font-size: 14px;
	line-height: 1;
}

.box7 .txt_area .linkArea > div:first-child a .txt span {
	font-size: 18px;
	letter-spacing: 0;
	position: relative;
	margin: 10px 0 0 0;
	display: inline-block;
}

.box7 .txt_area .linkArea > div:first-child a .txt sup {
	font-size: 10px;
	letter-spacing: 0;
	vertical-align: top;
	display: inline-block;
	position: absolute;
	top: -10px;
	margin: 0 0 0 -12px;
}

.box7 .txt_area .linkArea > div:first-child a .txt strong {
	font-size: 62px;
	font-family: Helvetica;
	letter-spacing: 0;
	line-height: 1;
	margin: 0;
}

.box7 .txt_area .linkArea > div:first-child a .logo {
	margin: 0 0 0 24px;
}

.box7 .txt_area .linkArea > div:first-child a .btn {
	background: #008b4f;
	border-radius: 9px;
	color: #fff;
	width: 310px;
	padding: 6px 0 3px 0;
	position: relative;
}

.box7 .txt_area .linkArea > div:first-child a .btn::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	right: 20px;
	width: 5px;
	height: 5px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.box7 .txt_area .linkArea > div:first-child a .btn strong {
	color: #fff;
}

.box7 .txt_area .linkArea > div:nth-child(2) a {
	margin: 0 0 10px 0;
}

.box7 .txt_area .linkArea > div:nth-child(2) a:first-child strong::before {
	display: inline-block;
	content: "";
	background: url(../img/ico_car.png) no-repeat;
	background-size: 100%;
	width: 30px;
	height: 30px;
	vertical-align: middle;
	margin: -4px 8px 0 0;
}

.box7 .txt_area .linkArea > div:nth-child(2) a:last-child strong::before {
	display: inline-block;
	content: "";
	background: url(../img/ico_yen.png) no-repeat;
	background-size: 100%;
	width: 23px;
	height: 23px;
	vertical-align: middle;
	margin: -4px 8px 0 0;
}

.box7 .txt_area .linkArea > div a {
	font-size: 12px;
	color: #535353;
	padding: 18px 0 0 0;
	font-weight: bold;
	letter-spacing: 2px;
	line-height: 1.6;
}

.box7 .txt_area .linkArea > div a strong {
	display: block;
	color: #008b4f;
	font-size: 20px;
	letter-spacing: 3px;
	margin: 0 0 8px 0;
	line-height: 1;
}

.box7 .txt_area .linkArea > div:last-child a {
	padding: 15px 0 0 0;
}

.box7 .txt_area .linkArea > div:last-child a strong {
	margin: 0 0 5px 0;
}

.box7 .txt_area .evidence {
	font-size: 10px;
	max-width: 760px;
	margin: 10px auto 0 auto;
	line-height: 1.6;
}

iframe.twitter-timeline {
	font-size: 10px !important;
}

.box6 .txt_area {
	margin: auto;
}

.box6 .txt_area .twitter-timeline {
	margin: 35px auto 0 auto !important;
}

blockquote.twitter-tweet {
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  max-width: 468px;
}

blockquote.twitter-tweet p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}

blockquote.twitter-tweet a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}

.box6 .txt_area .copy {
	position: absolute;
	bottom: 30px;
	left: 30px;
	color: #fff;
	font-size: 12px;
  letter-spacing: 0;
}

.p-author .profile .p-name {
  color: #18b194;
}

.nextSection {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	position: absolute;
	bottom: 3vw;
	left: 50%;
	font-size: 14px;
	margin: 0 0 0;
  padding-top: 60px;
	cursor: pointer;
	text-align: center;
	-webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
	box-sizing: border-box;
}

.nextSection::before {
	position: absolute;
	content: "Scroll";
	top: 0;
	left: -5px;
	height: auto;
	width: 50px;
	text-align: center;
}

.nextSection span {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  border: 5px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
	background: url("../img/ico_arrow-down.png") no-repeat center;
}

.nextSection span::before {
  position: absolute;
  top: -5px;
  left: -5px;
  z-index: -1;
  content: '';
  width: 40px;
  height: 40px;
  box-shadow: 0 0 0 0 rgba(255,255,255,.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb 3s infinite;
  animation: sdb 3s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}



.spBlock {
	display: none;
}

.pcBlock {
	display: block;
}

_:-ms-lang(x)::-ms-backdrop, .box {
  overflow-y: hidden;
}


@media screen and (max-width: 1024px) {
	
}


@media screen and (max-width: 768px) {
.spBlock {
	display: block;
}

.pcBlock {
	display: none;
}

.pcInlineBlock {
    display: inline-block;
	display: none;
}

img {
	width: 100%;
}

.wrapFixedCont .logo,
.menu .logo {
	width: 26.667vw;
	margin: 4.000vw;
}

.menuBtn {
	top: 4vw;
	right: 4vw;
}

/*-- Twitterのボタンの位置調整 --*/
.wrapFixedCont .twitterBtn {
	top: 4vw;
	right: 13vw;
}

.menu {
	background: url(../img/bg_w_sp.png) no-repeat rgba(0, 139, 79, 0.95);
	background-size: 50.667vw 100%;
}
	
.menu .menuList {
	margin: 25.333vw auto 0 auto;
}

.menu .menuList a {
	font-size: 4.800vw;
}

.menu .menuList a span {
	font-size: 2.933vw;
}

.pagenation {
	padding: 10px;
	pointer-events: none;
}

.pagenation .active span {
	display: none;
}

.movieBtnWrap {
	position: static;
	width: 42.667vw;
	margin: 5.333vw auto 0 auto;
	height: auto;
}

.movieBtnWrap .movieBtn {
	width: 100%;
	height: auto;
}

.movieBtnWrap + .ico {
  position: fixed;
	right: 5.333vw;
	bottom: -24vw;
	width: 18.000vw;
	height: 24.000vw;
	color: #ee7528;
	background: url(../img/icon_movie_pin.png) no-repeat;
	background-size: 100%;
	transform: rotate(0);
	transition: 0.4s;
  z-index: 90;
}

.movieBtnWrap + .ico span {
	transform: rotate(0);
	display: block;
	line-height: 1.4;
	text-shadow: none;
	font-size: 10px;
	transition: 0.4s;
	text-align: center;
	padding: 5.6vw 0 0 0;
	margin: 0;
	width: 18.000vw;
	height: 18.000vw;
	box-sizing: border-box;
}

.movieBtnWrap.hide + .ico,
.movieBtnWrap.hide:hover + .ico{
	right: 5.333vw;
	bottom: 1.333vw;
	transform: rotate(0);
}

.movieBtnWrap.hide + .ico span,
.movieBtnWrap.hide:hover + .ico span{
	padding: 5.6vw 0 0 0;
	transform: rotate(0);
}
	
.movieBtnWrap.allHide + .ico  {
	bottom: -24vw;
}
  
.box .txt_area h2 strong {
	font-size: 8.533vw;
}

.box .txt_area h2 span {
	font-size: 3.467vw;
	margin: 4.000vw 0 0 0;
}

.box .txt_area p {
	font-size: 3.733vw;
	font-weight: normal;
	line-height: 1.8;
	margin: 5.333vw 0 0 0;
	letter-spacing: 1px;
	text-align: center;
}

.box1 .txt_area {
  padding: 0;
  width: 100%;
}

.box1 .txt_area h1 {
	font-size: 6.933vw;
	letter-spacing: 4px;
	line-height: 1.4;
	padding: 18vw 0 0 5vw;
}
  
.box1 .txt_area h1 img {
  width: 63.733vw;
}

.box1 .txt_area p {
	font-size: 4.533vw;
	letter-spacing: 0;
	margin: 1.333vw 0 0 2px;
  padding: 0 0 0 5vw;
	text-align: left;
	font-weight: normal;
}

.box2 .txt_area {
	padding: 28.000vw 0 60.000vw 3%;
	display: block;
	position: static;
}

.box2 .txt_area h2 img {
  width: 81.333vw;
  margin: 0 auto;
}

.box2 .txt_area .lyrics .nomal,
.box2 .txt_area .words .nomal {
  margin: 0 0 4.000vw 0;
}

.box2 .txt_area .lyrics .sansserif {
  line-height: 1.8;
  font-size: 4.533vw;
}

.box2 .txt_area .lyrics .fz16 {
  font-size: 3.200vw;
  margin: 2.667vw 0 0.667vw 0;
}

.box2 .txt_area .lyrics .fz10 {
  font-size: 2.667vw;
  margin: 0 0 14.000vw 0;
}

.box2 .txt_area .words .nomal {
  margin: 0 0 4.000vw 0;
  line-height: 1.4;
}

.box2 .txt_area .words .sansserif {
  font-size: 4.533vw;
  line-height: 1.6;
}

.box2 .txt_area .words .fz12 {
  font-size: 2.667vw;
  margin: 1.333vw 0 25px 0;
}

.box3 .movieBtn2 {
	width: 42.667vw;
	margin: 6.667vw auto 0 auto;
}
  
.box4 .txt_area {
  padding: 0;
}
  
.box4 .txt_area p {
  letter-spacing: 0px;
  line-height: 1.6;
}

.box4 .movieBtn3 {
	width: 42.667vw;
	margin: 6.667vw auto 0 auto;
}

.box4 .movieBtn3 .btnWrap {
	margin: 0;
}
	

.box5 .txt_area h2 {
	line-height: 1.2;
}
	
.box5 .txt_area h2 span {
	line-height: 1;
}
	
.box5 .txt_area > .linkList ul {
	width: 100%;
	display: block;
	margin: 8.000vw 0 10vw 0;
}
	
.box5 .txt_area > .linkList ul li {
	width: auto;
	margin: 0 auto 8vw;
}
	
.box5 .txt_area > .linkList ul li a {
	font-size: 5.333vw;
	padding: 0 15px 0 0;
}

.box5 .txt_area > .linkList ul li a::before {
	width: 20px;
	height: 20px;
}
	
.box5 .txt_area > .linkList ul li a::after {
	width: 8px;
	height: 8px;
	position: absolute;
	top: 8px;
	right: 0;
}

.box5 .txt_area > .linkBox a {
	max-width: 85.333vw;
	line-height: 1.4;
	margin: 14.000vw auto 0;
	padding: 5.333vw 0;
	color: #fff;
	font-size: 3.467vw;
}

.box5 .txt_area > .linkBox.profileBtn a {
	background: #fff;
	color: #008B4F;
	margin: 0 auto 0 auto;
	display: block;
	text-align: center;
	text-shadow: none;
	box-shadow: 3px 3px 6px rgba(0,0,0,0.16);
	border-radius: 6px;
	text-decoration: none;
	font-size: 3.467vw;
	letter-spacing: 1px;
	font-weight: bold;
}

.box5 .txt_area .profileWrap {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.9);
	width: 100%;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	margin: 0;
	border: none;
	z-index: 170;
	box-sizing: border-box;
	display: none;
}
.box5 .txt_area .profileWrap .inner {
	display: table;
	padding: 4.667vw;
	width: 100%;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	
	box-sizing: border-box;
}
	
.box5 .txt_area .profileWrap dl {
	display: table-cell;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	border: none;
}
	
.box5 .txt_area .profileWrap dl dt span {
	display: block;
	margin: 5px 0 0 0;
}
  
.box5 .txt_area dl dd {
  letter-spacing: 0;
  line-height: 1.8;
  font-size: 3.200vw;
}
	
.box5 .txt_area .profileWrap dl dd .linkBox {
	margin: 6.000vw 0 0 0;
	position: relative;
	top: auto;
	right: auto;
	display: block;
	border: 1px solid #fff;
	border-radius: 6px;
	line-height: 1;
	padding: 4.667vw 0;
	text-align: center;
}

.box5 .txt_area .profileWrap dl dd .linkBox::after {
	top: 0;
	bottom: 0;
	margin: auto;
	right: 6.667vw;
}

.box6 .txt_area {
	max-width: 85.333vw;
}
.box6 .txt_area .twitter-timeline {
	margin: 5.333vw auto 0 auto !important;
	height: 50px !important;
}

.box7 .txt_area {
	padding: 0 0 0;
	width: 100%;
}

.box7 .txt_area p {
	margin: 6.667vw 0 0 0;
}

.box7 .txt_area .linkArea {
	max-width: 85.333vw;
	margin: 5.333vw auto 0 auto;
}

.box7 .txt_area .linkArea > div:first-child {
	width: 41vw;
	max-width: 50%;
	margin: 0 2.667vw 2.667vw 0;
	position: relative;
	height: 34.667vw;
}
	
.box7 .txt_area .linkArea > div a {
	border-radius: 6px;
}

.box7 .txt_area .linkArea > div:first-child a {
	padding: 7.333vw 0 1.333vw 0;
}

.box7 .txt_area .linkArea > div:first-child a .logo {
	position: absolute;
	top: 3.200vw;
	left: 0;
	right: 0;
	margin: auto;
	width: 16.667vw;
}

.box7 .txt_area .linkArea > div:first-child a .txt.spBlock {
	display: flex;
	font-size: 2.667vw;
	align-items: center;
}

.box7 .txt_area .linkArea > div:first-child a .txt.spBlock span {
	font-size: 3.200vw;
	margin: 0;
}

.box7 .txt_area .linkArea > div:first-child a .txt.spBlock sup {
	top: auto;
	left: auto;
	right: -3vw;
}

.box7 .txt_area .linkArea > div:first-child a .txt.spBlock strong {
	font-size: 10.133vw;
	letter-spacing: -2px;
	margin: 4px 0 0 3.333vw;
}

.box7 .txt_area .linkArea > div:first-child a .btn {
	width: 39.333vw;
	font-size: 2.933vw;
	letter-spacing: 0;
	border-radius: 6px;
}

.box7 .txt_area .linkArea > div:first-child a .btn strong {
	font-size: 3.467vw;
	letter-spacing: 0;
}

.box7 .txt_area .linkArea > div:first-child a .btn::after {
	right: 10px;
}

.box7 .txt_area .linkArea > div:nth-child(2) {
	height: 16.000vw;
	width: 41vw;
	max-width: 50%;
}

.box7 .txt_area .linkArea > div:nth-child(2) a {
	padding: 3.467vw 0 0 0;
}

.box7 .txt_area .linkArea > div:nth-child(2) a:first-child strong,
.box7 .txt_area .linkArea > div:nth-child(2) a:last-child strong {
	font-size: 3.467vw;
	margin: 0;
	letter-spacing: 1px;
}

.box7 .txt_area .linkArea > div:nth-child(2) a:first-child strong::before,
.box7 .txt_area .linkArea > div:nth-child(2) a:last-child strong::before {
	display: block;
	margin: 0 auto 1.333vw auto;
	width: 4.800vw;
	height: 4.800vw;
}	

.box7 .txt_area .linkArea > div:last-child {
	height: 20.000vw;
}

.box7 .txt_area .linkArea > div:last-child a {
	padding: 4.000vw 0 0 0;
	font-size: 2.667vw;
}

.box7 .txt_area .linkArea > div:last-child a strong {
	font-size: 3.467vw;
	letter-spacing: 1px;
}

.box7 .txt_area .evidence {
	font-size: 2.133vw;
	max-width: 85.333vw;
	margin: 10px auto 0 auto;
	line-height: 1.6;
}
	
.modal .modalMovieCont {
  width: 90%;
  height: 45.333vw;
}
	
.box7 .txt_area .copy {
  font-size: 10px;
  left: 4.000vw;
  bottom: 10px;
}

.closeBtn {
	width: 25px;
	height: 21px;
	position: fixed;
	top: 4vw;
	right: 4vw;
	z-index: 110;
	color: #fff;
}

.closeBtn,
.closeBtn span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

.closeBtn span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 4px;
}

.closeBtn span:nth-of-type(1) {top: 0;}
.closeBtn span:nth-of-type(2) {bottom: 0;}

.closeBtn span:nth-of-type(1) {
  -webkit-transform: translateY(9px) rotate(-45deg);
  transform: translateY(9px) rotate(-45deg);
}

.closeBtn span:nth-of-type(2) {
  -webkit-transform: translateY(-9px) rotate(45deg);
  transform: translateY(-9px) rotate(45deg);
}
  
.bgMovieCont {
  display: none;
}
  
  

.nextSection {
	width: 10vw;
	height: 10vw;
	border-radius: 5vw;
	position: absolute;
	bottom: 3vw;
	left: 50%;
	font-size: 2.667vw;
	margin: 0 0 0;
  padding-top: 14vw;
	cursor: pointer;
	text-align: center;
	-webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
	box-sizing: border-box;
}

.nextSection::before {
	position: absolute;
	content: "Scroll";
	top: 0;
	left: 0;
	height: auto;
	width: 10vw;
	text-align: center;
}

.nextSection span {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 10vw;
  height: 10vw;
  margin-left: -5vw;
  border: 4px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
	background: url("../img/ico_arrow-down.png") no-repeat center;
}

.nextSection span::before {
  position: absolute;
  top: -5px;
  left: -5px;
  z-index: -1;
  content: '';
  width: 10vw;
  height: 10vw;
}
  
}

/*-- Twitterのボタンの位置調整 --*/
@media screen and (max-width: 640px) {
.wrapFixedCont .twitterBtn {
	top: 4vw;
	right: 15vw;
}
}

_:-ms-lang(x), .box1 .txt_area h1 {
    padding: 30% 0 0 0;
}






